@import "../../styles/colors.scss";

.navbarRoot {
  background-color: $dark-color;
  .navbarToolBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbarOptions {
    display: flex;
    flex-direction: row;
  }
}

.routesMenu {
  // display: flex;
  // flex-direction: column;
}
