@import "../../styles/colors.scss";

.navbarRoot {
  background-color: $dark-color;
  .navbarToolBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbarOptions {
    display: flex;
    flex-direction: row;
  }
}

.routesMenu {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  .routesMenuItem {
    padding: 0.5rem;
  }
}
