@import "../../styles/colors.scss";

.navbarRoot {
  background-color: $dark-color;
  .navbarToolBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbarOptions {
    display: flex;
    flex-direction: row;
  }
}

#basic-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
