@import "../../../styles/colors.scss";

.searchBoxDiv {
  margin: 3rem;
  padding: 2rem;
  .searchBox {
    height: 100%;
    width: 100%;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5rem;
    background-color: $smoke-color;
    border: 0.15rem $purple-color solid;
    border-radius: 2rem;
    .searchBoxTextField,
    .searchBoxTextFieldDate {
      width: 100%;
      height: 100%;
      input {
        color: $dark-color;
        border: 0.15rem $purple-color solid;
        border-radius: 0.25rem;
        padding-left: 1rem;
        &:focus {
          margin-top: 0.3rem;
        }
      }
      label {
        color: $dark-color;
        font-weight: bold;
        padding-left: 1rem;
      }
    }
    .searchBoxTextFieldDate {
      input {
        margin-top: 0.5rem;
      }
      label {
        font-size: 1.3rem;
      }
    }
    .searchBoxButton {
      width: 50%;
      height: 100%;
      color: $purple-color;
      border: 0.15rem $purple-color solid;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
