@import "../../../styles/colors.scss";

.boxAccordions {
  .discountsRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .discountsAccordion {
      width: 90%;
      background-color: $smoke-color;
      .discountsAccordionTitle {
        color: $purple-color;
        font-weight: bold;
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        padding-left: 1rem;
      }
      .discountsAccordionDetails {
        font-size: 1rem;
        text-indent: 1rem;
        color: $dark-color;
        a span {
          font-size: 0.8rem;
          color: $purple-color;
          font-weight: 700;
        }
      }
    }
  }
}
