@import "../../../styles/colors.scss";

.scrollBar {
  overflow: auto;
  .boxRoutes {
    margin: 1rem;
    display: flex;
    width: 150%;
    gap: 3.5rem;
    .cardRout {
      margin-bottom: 1rem;
      width: 25em;
      height: 20rem;
      background-color: $smoke-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        transform: scale(1.05);
      }
      .routeTitle {
        color: $purple-color;
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      .imageContainer {
        width: 70%;
        .busImage {
          width: 10rem;
          height: 5rem;
        }
      }
      .buttonRoute {
        color: $purple-color;
        border-color: $purple-color;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }
      .contactRoute {
        font-weight: 500;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
        &:last-child {
          margin-top: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
