@import "../../../styles/colors.scss";

.pageDetailContainer {
  box-sizing: border-box;
  margin: 0 3rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  color: $purple-color;
  border-top: 5rem solid $smoke-color;
  border-top-width: medium;
  .pageNameTag {
    text-transform: capitalize;
    margin-bottom: 0;
    &:hover {
      color: $dark-color;
      opacity: 0.75;
    }
  }
}

@media (max-width: 699px) {
  .pageDetailContainer {
    margin: 0;
    padding: 0 1.5rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .pageDetailContainer {
    margin: 0;
    padding: 0 4rem;
    padding-bottom: 2rem;
  }
}
