@import "../../../styles/colors.scss";

.bookRouteSection {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  .bookRoute {
    width: 25%;
    color: $purple-color;
    border-color: $purple-color;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
}

.bookModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .dialogTitle {
    padding: 0.25rem;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    .dialogTitleIcon {
      margin-top: 0.75rem;
      margin-right: 0.75rem;
      margin-bottom: 0.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .bookForm {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    h1 {
      width: 50%;
      height: 100%;
      margin-top: 0;
      align-self: center;
      text-align: center;
      text-transform: uppercase;
      border-bottom: 0.13rem solid $purple-color;
    }
    .personalDetailsSection,
    .travelDetailsSection,
    .paymentDetailsSection,
    .productsDetailsSection,
    .cardDetails {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2rem;
      gap: 1rem;
    }

    .cardDetails {
      padding-top: 0;
      padding-bottom: 0;
    }
    .productsDetailsSection {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .paymentMethodSection {
      padding: 1rem 2rem;
      .paymentRadioGroup {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 1rem;
        .paymentLabel {
          display: flex;
          flex-direction: row;
          .paymentRadio {
            color: $purple-color;
          }
        }
      }
    }

    h3 {
      text-align: left;
      margin: 0 2rem;
      color: $dark-color;
    }
  }
  .commentSection {
    margin: 0.5rem 2rem;
  }
  .formSubmitButton {
    width: 30%;
    align-self: center;
    color: $dark-color;
    border: 0.1rem $purple-color solid;
    font-weight: bold;
    margin: 2rem;
  }
}

.ticketInfoCard {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  h1 {
    width: 100%;
    height: 100%;
    margin-top: 0;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 0.13rem solid $purple-color;
  }
  .paymentMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: rgb(48, 176, 59);
    padding: 0 1rem;
  }
  .ticketMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    span {
      font-weight: bold;
      font-size: 1.5rem;
      padding: 0.5rem;
      color: $dark-color;
      border: 0.15rem solid $purple-color;
    }
  }
}
