@import "../../../styles/colors.scss";

.contactDetails {
  height: 100%;
  background-color: $smoke-color;
  padding: 1rem;
  .contactTitle {
    text-indent: 2rem;
    text-transform: uppercase;
    color: $purple-color;
  }
  .contactDescription {
    margin-left: 2rem;
    margin-right: 2rem;
    text-indent: 1rem;
    text-align: justify;
  }
  .contactInfoList {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    list-style-type: none;
    .contactInfoListItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      color: $purple-color;
      .contactInfoListItemText {
        color: $dark-color;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 699px) {
  .contactDetails {
    width: 100%;
    padding: 0.5rem 0;
  }
  .contactInfoList {
    padding: 2rem;
    flex-direction: column;
    width: 100%;
    .contactInfoListItem {
      display: grid;
      grid-template-columns: 1fr;
      .contactInfoListItemText {
        font-size: 0.75rem;
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .contactDetails {
    width: 100%;
    padding: 0.5rem 0;
  }
  .contactInfoList {
    padding: 0;
    flex-direction: column;
    width: 100%;
    .contactInfoListItem {
      flex-direction: column;
      flex-wrap: wrap;
      .contactInfoListItemText {
        font-size: 0.75rem;
      }
    }
  }
}
