@import "../../styles/colors.scss";

.footerRoot {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $dark-color;
  display: flex;
  align-items: center;
  justify-content: center;
  .footerText {
    color: $smoke-color;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}
