@import "./colors.scss";

.pageDescription {
  margin: 0 3rem 2.5rem 5rem;
  text-indent: 1rem;
  text-align: justify;
}

.visionMissionSection {
  margin: 2rem 10rem;
  background-color: $smoke-color;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  h1 {
    color: $purple-color;
  }
}
