@import "./colors.scss";

.pageDescription2 {
  margin: 0.5rem 5rem;
  margin-bottom: 0;
  text-indent: 1.5rem;
  text-align: justify;
}
.discountsMainSection {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.sectionTitle {
  margin: 0 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  padding-left: 1rem;
  h1 {
    font-size: 3rem;
    color: $purple-color;
    margin: 0;
  }
  h2 {
    margin: 0;
    padding-bottom: 0.2rem;
    border-bottom: 0.15rem $purple-color solid;
  }
}

.sectionInfo {
  margin-left: 6rem;
  margin-right: 6rem;
  p {
    margin: 0;
    text-indent: 4rem;
    text-align: justify;
    li {
      padding-left: 2rem;
      padding-top: 0.5rem;
    }
  }
}

@media (max-width: 699px) {
  .pageDescription2 {
    margin: 0.5rem 1.5rem;
  }
  .sectionTitle {
    margin: 1rem;
  }
  .sectionInfo {
    margin-left: 3rem;
    margin-right: 3rem;
    p {
      text-indent: 2.5rem;
      li {
        padding-left: 0;
      }
    }
  }
}
