@import "./colors.scss";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  padding: 56px 0 0 0;
  min-width: 100%;
  min-height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  &::selection {
    background: $purple-color;
    color: white;
  }
}

.pageTitle {
  margin-left: 5rem;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  color: $dark-color;
  width: 35%;
  border-bottom: 0.15rem $purple-color solid;
}

@media (max-width: 699px) {
  .pageTitle {
    width: 75%;
    margin-left: 3rem;
  }
}

.pageDescription {
  margin: 1.5rem 5rem;
  margin-bottom: 0;
  text-indent: 1.5rem;
  text-align: justify;
}
.MuiList-root.MuiList-padding.MuiMenu-list {
  display: flex;
  flex-direction: column;
  .MuiButtonBase-root {
    padding: 0.5rem;
    padding-left: 1.5rem;
    justify-content: left;
  }
}

@media (max-width: 699px) {
  * {
    -webkit-text-size-adjust: none;
  }
  .pageDescription {
    margin: 0.5rem 1.5rem;
  }
  .MuiList-root.MuiList-padding.MuiMenu-list {
    display: flex;
    flex-direction: column;
    .MuiButtonBase-root {
      padding: 1rem;
      padding-left: 1.5rem;
      justify-content: left;
    }
  }
}
@media (min-width: 700px) and (max-width: 1199px) {
  * {
    -webkit-text-size-adjust: none;
  }
  .MuiList-root.MuiList-padding.MuiMenu-list {
    display: flex;
    flex-direction: column;
    .MuiButtonBase-root {
      padding: 1rem;
      padding-left: 1.5rem;
      justify-content: left;
    }
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  margin-top: 3.25rem;
  a {
    color: $purple-color;
    font-weight: bold;
  }
}

.MuiPaper-root.Navbar_navbarRoot__Gu8Vk {
  background-color: $dark-color;
  color: white;
}

.MuiList-root.drawerList {
  padding: 0;
}

.MuiPaper-root.MuiDrawer-paper {
  margin-top: 0;
  background-color: $dark-color;
  color: white;
  text-transform: uppercase;
  width: 60%;
}

.MuiListItem-gutters.drawerListItem {
  padding: 1.5rem;
}

.MuiTreeItem-root.treeItemOne {
  .MuiTreeItem-content {
    padding: 0;
  }
}
