@import "./colors.scss";

.sectionDescription {
  margin: 0 1rem 2.5rem 0;
  color: $dark-color;
  font-weight: 350;
  font-size: 18px;
  text-align: justify;
  text-indent: 2rem;
}

.mainSection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  .sectionElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    .circle {
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $smoke-color;
      color: $purple-color;
      .circleIcon {
        font-size: 4rem;
      }
    }
    .detailIcon {
      margin-top: 0;
      margin-bottom: 0;
      color: $purple-color;
      text-transform: uppercase;
    }
  }
}
