.pageDetailContainer {
  border-bottom: 0.1rem solid rgb(129, 128, 128);
  box-sizing: border-box;
  margin: 0 3rem;
  padding-left: 1.5rem;
  color: #6f22b3;
  .pageNameTag {
    text-transform: capitalize;
    &:hover {
      opacity: 0.75;
    }
  }
}
