@import "./colors.scss";

.pageSubtitle {
  margin: 1rem 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  h2 {
    padding: 0.5rem;
    width: 40%;
    border-bottom: 0.15rem $smoke-color solid;
    color: $dark-color;
  }
}

.checkSection,
.cancelSection {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10rem;
  gap: 0.2rem;
  .checkField,
  .cancelField {
    flex-grow: 1;
  }

  .checkButton,
  .cancelButton {
    background-color: $purple-color;
    color: white;
    font-weight: 400;
    padding: 0.9rem;
    &:hover {
      background-color: $purple-color;
      color: white;
    }
  }
  .checkDialogTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.cancelSection {
  margin-bottom: 3rem;
}

@media (max-width: 699px) {
  .pageSubtitle {
    margin-right: 0;
    margin-left: 2rem;
    padding: 0;
    gap: 0;
    h2 {
      width: 70%;
    }
  }

  .checkSection,
  .cancelSection {
    margin-left: 4rem;
    width: 70%;

    gap: 0.2rem;
    .checkField,
    .cancelField {
      flex-grow: 1;
    }
  }
}
